<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535353950243-f528c6rin68lcu6nmqobd79mlhf2bg0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535353950243-f528c6rin68lcu6nmqobd79mlhf2bg0n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>535353950243-846hjuvq04deeihfpfp5ced8cv2if4j6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUZEfNiY-3coFna1AmHATL5N42g_5BZKc</string>
	<key>GCM_SENDER_ID</key>
	<string>535353950243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mgarciate.wsanjusto.wsanjustowidget</string>
	<key>PROJECT_ID</key>
	<string>weathersanjusto</string>
	<key>STORAGE_BUCKET</key>
	<string>weathersanjusto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535353950243:ios:1dd849b09eee4f0c853196</string>
	<key>DATABASE_URL</key>
	<string>https://weathersanjusto.firebaseio.com</string>
</dict>
</plist>